span{
  font-weight:bold;
}


.App-link {
  font-size: large;
  text-decoration: none;
  color: aliceblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
